/* Your Website Styles */
/* Name */
div {
	transform: 1000px;
}

h1 {
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	color: black;
	text-align: center;
	margin: 2px 0px -12px 2px;
}

.subtitle {
	color: black;
	text-align: center;
}

/* Major, Minor */
h2 {
	font-family: 'Cinzel Decorative', cursive;
	color: black;
	font-size: 20px;
	margin-top: 2.5em;
	margin-bottom: -.75em;
	margin-left: -.75em;
}

.major_minor {
	font-size: 23px;
	font-family: 'Cinzel Decorative', cursive;
	color: #1D5846;
	margin-bottom: -1.5em;
}

/* Paragraph headings */
h3 {
	font-family: 'Cinzel Decorative', cursive;
	color: black;
	font-size: 20px;
	text-align: left;
	margin-top: -1em;
	margin-left: -1.25em;
	margin-bottom: -1em;
	border-radius: 10px;
	padding: 10px 10px;
}

/* Pages */
.links_top {
	color: black;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 15px;
	text-align: right;
	text-decoration: none;
	list-style: none;
	margin-bottom: 0em;
}

body {
	font-family: 'Calibri';
	color: #1D5846;
	background-color: #9CDEBA;
	padding: 20px;
	margin: 10px;
	text-align: left;
	font-size: 16px;
}

img {
	padding: 1px;
	border: 2px solid #021a40;
	border-radius: 40px;
	width: 130px;
	height: 160px;
	margin-top: 1em;
	margin-bottom: 2em;
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: #1D5846;
}

.links_bottom {
    color: black;
    text-align: left;
    text-decoration: none;
    margin-left: -35px;
    list-style: none;
 }

.footer {
	text-align: center;
	color: black;
}