/* Your Website Styles */
/* Name */
h1 {
	font-family: 'Sacramento', cursive;
	font-size: 50px;
	color: black;
	text-align: center;
	margin: 2px 0px -12px 2px;
}

.subtitle {
	color: black;
	text-align: center;
}

/* Major, Minor */
h2 {
	font-family: 'Cinzel Decorative', cursive;
	color: black;
	font-size: 20px;
	margin-top: 3em;
	margin-bottom: -.75em;
	margin-left: -.75em;
}

.major_minor {
	font-size: 25px;
	font-family: 'Cinzel Decorative', cursive;
	color: white;
}

/* Paragraph headings */
h3 {
	font-family: 'Cinzel Decorative', cursive;
	color: black;
	font-size: 20px;
	text-align: left;
	margin-top: -.50em;
	margin-left: -1.25em;
	margin-bottom: -1em;
	border-radius: 10px;
	padding: 10px 10px;
}

/* Pages */
h4 {
	font-family: 'Cinzel Decorative', cursive;
	color: #9CDEBA;
	font-size: 15px;
	text-align: right;
}

body {
	font-family: 'Calibri';
	color: #1D5846;
	background-color: #9CDEBA;
	padding: 20px;
	margin: 10px;
	text-align: left;
	font-size: 16px;
}

img {
	padding: 1px;
	border: 2px solid #021a40;
	border-radius: 130px;
	margin-top: 1.5em;
	margin-left: 20px;
}

ul li {
	list-style: none;
	color: #1D5846;
	margin-left: -2em;
}

a:link {
    color: black;
    text-decoration: none;
    margin-left: -10px;
}

.footer {
	text-align: center;
	color: black;
}